body {
    background-color: #F5F5DC;
	margin: 0%;
}
@font-face {
  font-family: 'icomoon';
  src:  url('icomoon.eot?jb0kk3');
  src:  url('icomoon.eot?jb0kk3#iefix') format('embedded-opentype'),
  url('icomoon.ttf?jb0kk3') format('truetype'),
  url('icomoon.woff?jb0kk3') format('woff'),
  url('icomoon.svg?jb0kk3#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-reorder:before {
  content: "\f0c9";
}
.icon-_540:before {
  content: "\f240";
}
.icon-_541:before {
  content: "\f241";
}
.icon-_542:before {
  content: "\f242";
}
.icon-_543:before {
  content: "\f243";
}
.icon-_544:before {
  content: "\f244";
}
.icon-uniF2C7:before {
  content: "\f2c7";
}
.icon-uniF2C8:before {
  content: "\f2c8";
}
.icon-uniF2C9:before {
  content: "\f2c9";
}
.icon-uniF2CA:before {
  content: "\f2ca";
}
.icon-uniF2CB:before {
  content: "\f2cb";
}
p { 
	color: #FFFFFF; 
	font-size: 18px; 
	font-weight: bold; 
	line-height: 0.5em; }
h1 { 
	color: #FFFFFF; 
	margin:0.2em;
}
div.flex-container{
    background-color: #2D2D2D;

}
h1[id^="name"]{
text-align: center;
   width:60%;
   margin:0% 0% 0% 19%;
   float:left;
   
}
p[id^="temp"]{
   width:100%;
   text-align:left;
   font-size: 2.5em; 
   font-weight: bold;
   margin:0.25em 0em 0.25em 0em;
   line-height: 1em; 
padding:0;   
   float:left;
}
p[id^="min"]{
   width:33%;
   font-size: 1.5em; 
   float:left;
   line-height: 0.5em;
   text-align: center;	
   margin:0.5em 0em 0.75em 0em;
}
p[id^="set"]{
	width:33%;
	font-size: 1.5em; 
	float:left;
   	line-height: 0.5em;
	text-align: center;
	margin:0.5em 0em 0.75em 0em;
}
p[id^="max"]{
   width:33%;
   font-size: 1.5em; 
   float:left;
   	line-height: 0.5em;
	text-align: center;
	margin:0.5em 0em 0.75em 0em;
}
p[id^="number"]{
	width:18%;
	float:right;
	text-align:right;
	margin-top:0.5em;
	margin-right:0.25em;
}
header{
    background-color: #2D2D2D;
	padding: 1%;
}
section {
  margin: 10px;
  width: 20%;
  min-width:200px;
  background-color: #6C6C6C;
  border-left: 15px solid;
  border-color: #FFFFFF;
  padding-left: 5px;
}
section:last-child {

}

/* ----------- iPad 1 and 2 ----------- */
/* portrait & landscape */

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (-webkit-min-device-pixel-ratio: 1)  { 
	section{
			width:40%;
	}
}

/* Landscape */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio: 1)  { 
	section{
			width:20%;
	}
}

/* Portrait */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio: 1)  { 
	section{
			width:40%;
	}
}

/* portrait & landscape */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px)  { 
	section{
			width:40%;
	}
}

/* Landscape */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) { 
	section{
			width:20%;
	}
}

/* Portrait */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) { 
	section{
			width:40%;
	}
}

/* ----------- iPad 3 and 4 ----------- */
/* portrait & landscape */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (-webkit-min-device-pixel-ratio: 2) { 
	section{
			width:40%;
	}
}

/* Landscape */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio: 2) { 
	section{
			width:20%;
	}
}

/* Portrait */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio: 2) { 
	section{
			width:40%;
	}
}
/* ----------- iPhone 4 and 4S ----------- */

/* Portrait and Landscape */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
	section{
		width:85%;
	}
}

/* Portrait */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
	section{
		width:85%;
	}
}

/* Landscape */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
	section{
		width:40%;
	}
}

/* ----------- iPhone 5 and 5S ----------- */

/* Portrait and Landscape */
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) {
	section{
		width:85%;
	}
}

/* Portrait */
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
	section{
		width:85%;
	}
}

/* Landscape */
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
	section{
		width:40%;
	}

}

/* ----------- iPhone 6 ----------- */
/* Portrait and Landscape */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) { 
  	section{
			width:85%;
	}
}

/* Portrait */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) { 
  	section{
			width:85%;
	}
}

/* Landscape */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
	section{
			width:40%;
	}	  
}

/* ----------- iPhone 6+ ----------- */

/* Portrait and Landscape */
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) { 
  	section{
			width:85%;
	}
}

/* Portrait */
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: portrait) { 
  	section{
			width:85%;
	}
}

/* Landscape */
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape) { 
  	section{
			width:40%;
	}
}
/* (390x634) Galaxy Nexus, WXGA */
@media only screen and (min-device-width: 390px) and (max-device-width: 634px) {
    /* insert styles here */  	
	section{
		width:85%;
	}
}
/* (390x634) Galaxy Nexus, Portrait */
@media only screen and (min-device-width: 390px) and (max-device-width: 634px) and (orientation: portrait) {
    /* insert styles here */
	section{
		width:85%;
	}
}
/* (390x634) Galaxy Nexus, Landscape */
@media only screen and (min-device-width: 390px) and (max-device-width: 634px) and (orientation: landscape) {
    /* insert styles here */
	section{
		width:40%;
	}
}
/* (360x524) Galaxy Nexus, WXGA */
@media only screen and (min-device-width: 360px) and (max-device-width: 524px) {
    /* insert styles here */  	
	section{
		width:85%;
	}
}
/* (360x524) Galaxy Nexus, Portrait */
@media only screen and (min-device-width: 360px) and (max-device-width: 524px) and (orientation: portrait) {
    /* insert styles here */
	section{
		width:85%;
	}
}
/* (360x524) Galaxy Nexus, Landscape */
@media only screen and (min-device-width: 360px) and (max-device-width: 524px) and (orientation: landscape) {
    /* insert styles here */
	section{
		width:40%;
	}
}
.flex-container {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: flex-start;
    -ms-flex-line-pack: start;
    align-content: flex-start;
    -webkit-box-align: start;
    -moz-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    }

.flex-item {
	border-top-left-radius: 3em;
	border-bottom-right-radius: 3em;
	border-bottom-left-radius: 0.25em;
	border-top-right-radius: 0.25em;
    }
.flex-item:nth-child(1) {
    -webkit-box-ordinal-group: 1;
    -moz-box-ordinal-group: 1;
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-box-flex: 0;
    -moz-box-flex: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
    }

.flex-item:nth-child(2) {
    -webkit-box-ordinal-group: 1;
    -moz-box-ordinal-group: 1;
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-box-flex: 0;
    -moz-box-flex: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
    }

.flex-item:nth-child(3) {
    -webkit-box-ordinal-group: 1;
    -moz-box-ordinal-group: 1;
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-box-flex: 0;
    -moz-box-flex: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
    }

.flex-item:nth-child(4) {
    -webkit-box-ordinal-group: 1;
    -moz-box-ordinal-group: 1;
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-box-flex: 0;
    -moz-box-flex: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
    }

.flex-item:nth-child(5) {
    -webkit-box-ordinal-group: 1;
    -moz-box-ordinal-group: 1;
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-box-flex: 0;
    -moz-box-flex: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
    }

.flex-item:nth-child(6) {
    -webkit-box-ordinal-group: 1;
    -moz-box-ordinal-group: 1;
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-box-flex: 0;
    -moz-box-flex: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
    }

.flex-item:nth-child(7) {
    -webkit-box-ordinal-group: 1;
    -moz-box-ordinal-group: 1;
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-box-flex: 0;
    -moz-box-flex: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
    }

.flex-item:nth-child(8) {
    -webkit-box-ordinal-group: 1;
    -moz-box-ordinal-group: 1;
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-box-flex: 0;
    -moz-box-flex: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
    }

.flex-item:nth-child(9) {
    -webkit-box-ordinal-group: 1;
    -moz-box-ordinal-group: 1;
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-box-flex: 0;
    -moz-box-flex: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
    }

/*
    Legacy Firefox implementation treats all flex containers
    as inline-block elements.
*/

@-moz-document url-prefix() {
.flex-container {
    width: 100%;
    -moz-box-sizing: border-box;
    }

}